extends layout

block content
    #content
        if info && info != ""
            .alert.alert-success(role="alert")=info
        if error && error != ""
            .alert.alert-danger(role="alert")=error
        #main-content(ng-view='')