body 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
  margin-top: 100px;
  width: 600px;

a 
  text-decoration: none;
  color: #00b7ff;


#menu-wrapper 
  height: 50px;
  width: inherit;


#menu, .menu-item-wrapper, .menu-item 
  height: 100%;


#menu 
  width: 100%;
  display: table;


.menu-item-wrapper 
  text-align: center;
  display: table-cell;
  width: 50%;


.menu-item a 
  width: 100%;
  height: 100%;


.menu-text 
  vertical-align: middle;


.menu-item 
  border: 1px solid black;


#content 
  margin: 30px 20px;


#content label 
  display: block;

#profile-img{
  max-height: 200px;
}
.profile-image-column{
  text-align: center;
}

#login{
  max-width: 300px;
  margin: 0 auto;
}
#login input[type="password"]{
  margin: 10px 0px;
}